-mos-opacity n,
-ms-opacity n,
opacity n,
body {
  background-color: #e5e5e5;
  overflow: hidden;
}
a {
  text-decoration: none;
  display: block;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.cube-main-part {
  padding: 0% 10%;
}
.myButton {
  text-align: center;
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background: -moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: none;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 28px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
}
.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background: -moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}
button {
  -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
  background: -moz-linear-gradient(center top, #ff5bb0 5%, #ef027d 100%);
  background-color: #ff5bb0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  text-indent: 0px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  color: #fff;
  font-family: Arial Black;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 4px 0px #c70067;
}
button:hover {
  background: -moz-linear-gradient(center top, #ef027d 5%, #ff5bb0 100%);
  background-color: #ef027d;
  margin-top: 3px;
}
.cube {
  height: 33vh;
  text-align: center;
}
.cube-gray {
  background: #3f3f3f;
}
.cube-black {
  background: #000;
  padding: 7% 0;
}
.cube-white {
  background: #f3f3f3;
}
.is-front-page-letter-leftFall-1s {
  animation: leftFall 2s ease;
}
.is-front-page-letter-leftFall-2s {
  animation: leftFall 2s ease;
}
.is-front-page-letter-leftFall-3s {
  animation: leftFall 3s ease;
}
.is-front-page-letter-leftFall-3s {
  animation: leftFall 3s ease;
}
.is-front-page-letter-leftFall-4s {
  animation: leftFall 4s ease;
}
.is-front-page-letter-leftFall-5s {
  animation: leftFall 5s ease;
}
.is-front-page-letter-rightFall-3s {
  animation: rightFall 3s ease;
}
.is-front-page-letter-rightFall-4s {
  animation: rightFall 4s ease;
}
.is-front-page-letter-rightFall-5s {
  animation: rightFall 5s ease;
}
.is-front-page-letter-rightFall-6s {
  animation: rightFall 6s ease;
}
.is-front-page-letter-rightFall-7s {
  animation: rightFall 7s ease;
}
.is-front-page-letter-rightFall-8s {
  animation: rightFall 8s ease;
}
.is-hide {
  display: none;
}
.is-trigger-button {
  display: block;
  width: 300px;
  height: 70px;
  position: absolute;
  left: 41%;
  top: 37%;
  background: rgba(39,157,143,0.87);
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  line-height: 65px;
}
.is-trigger-button:hover {
  color: #000;
}
#front-main-part {
  width: 100%;
  height: 100vh;
  position: relative;
}
.front-page {
  width: 50%;
  height: 100vh;
}
.front-page .front-page-h1 {
  font-size: 55px;
  width: 100%;
  position: absolute;
  font-family: monospace;
}
.front-page .black-h1 {
  text-align: right;
  color: #fff;
}
.front-page .white-h1 {
  text-align: left;
  color: #000;
}
.front-page .character-y {
  top: 8%;
}
.front-page .character-ch {
  top: 16%;
}
.front-page .character-a {
  top: 24%;
}
.front-page .character-pers {
  top: 32%;
}
.front-page .character-w {
  top: 40%;
}
.front-page .character-si {
  top: 48%;
}
.front-page .character-u {
  top: 12%;
}
.front-page .character-e {
  top: 20%;
}
.front-page .character-n {
  top: 28%;
}
.front-page .character-onal {
  top: 36%;
}
.front-page .character-eb {
  top: 44%;
}
.front-page .character-te {
  top: 52%;
}
.black-side {
  background-color: #000;
  position: relative;
  float: left;
}
.black-side .black-side-content {
  margin-top: 14%;
}
.white-side {
  background-color: #fff;
  position: relative;
  float: right;
}
.white-side .white-side-content {
  margin-top: 20%;
}
.front-page-button {
  position: absolute;
  width: 10%;
  height: 6%;
  left: 45%;
  top: 85%;
  animation: mymove 2s infinite;
}
.front-page-button .front-page-button-content {
  width: 100%;
  height: 100%;
}
.container {
  position: absolute;
  top: 0.5%;
  left: 10%;
}
.cube-image {
  height: 95%;
  padding: 3% 0 0 0;
}
.cube-image img {
  width: 100%;
  height: 100%;
}
.col-md-4 h1 {
  color: #fff;
  line-height: 150%;
}
.col-md-4 h1 a {
  transition: 1s;
}
.col-md-4 h1 a:hover {
  color: #ffa500;
  transform: scale(1.1);
}
.col-md-4 p {
  color: #999;
  font-family: cardo;
  font-size: 15px;
  vertical-align: middle;
}
.second-page {
  position: absolute;
  width: 100%;
  top: 0%;
  right: -100%;
  perspective: 1100px;
  overflow: hidden;
  background: rgba(63,157,195,0.42);
  background: url("../../images/3d.jpg") no-repeat;
}
.second-page .airplane {
  background: url("../../images/airplane.png") no-repeat;
  width: 256px;
  height: 256px;
  position: absolute;
  left: 52%;
  top: 0%;
  transform: rotatex(30deg);
  background-size: 27%;
  z-index: 3;
  display: none;
}
.second-page .plane {
  background: url("../../images/plane.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 52%;
  top: 0%;
  background-size: 6%;
  z-index: 3;
  display: none;
}
.second-page .second-page-text {
  position: absolute;
  top: 8%;
  left: 26%;
  font-size: 43px;
  color: #000;
  font-family: serif;
  text-shadow: 2px 2px 0px #808080;
}
.second-page .second-page-logo {
  background: url("../../images/logo.png") no-repeat;
  width: 159px;
  height: 162px;
  transform: scale(0.6);
  position: absolute;
  top: -1%;
  left: 15%;
}
.second-page .map-arrow {
  background: url("../../images/map-arrow.png") no-repeat;
  position: absolute;
  background-size: 60%;
  transform: rotatex(35deg);
  width: 502px;
  height: 520px;
  top: 0%;
  left: 40%;
}
.second-page .map-arrow .map-arrow-text {
  transform: rotateX(55deg);
  color: #fff;
  top: 7%;
  position: absolute;
  left: 20%;
  width: 150px;
}
.second-page .map-arrow .new-york {
  position: absolute;
  left: 1%;
  top: 32px;
}
.second-page .map-arrow .las-vegas {
  position: absolute;
  left: -42px;
  top: 210px;
}
.second-page .second-page-images {
  width: 100%;
  height: 100vh;
  background: url("../../images/us-map.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85% 0%;
  background-color: #000;
  transform: rotatex(60deg);
  box-shadow: 0px 5px 10px #2b2b2b;
}
.second-page .spot {
  position: absolute;
  top: 30%;
  left: 16%;
  transition: transform 1s;
  transform: rotatex(-20deg);
}
.second-page .spot h6 {
  width: 100px;
  margin-left: 50px;
  color: #000;
  margin-top: 40px;
  cursor: pointer;
}
.second-page .spot h6:hover {
  color: rgba(255,0,0,0.72);
}
.second-page .second-page-spot-three {
  top: 43%;
  left: 22%;
  background: url("../../images/spot-icon-1.png") no-repeat;
  background-size: 36%;
}
.second-page .second-page-spot-three .three-text:hover {
  padding-top: 2px;
}
.second-page .second-page-spot-five {
  top: 40%;
  left: 74.5%;
  background: url("../../images/spot-icon-1.png") no-repeat;
  background-size: 36%;
}
.travel-button {
  position: absolute;
  display: block;
  top: 10%;
  left: 70%;
  width: 220px;
  height: 50px;
  line-height: 32px;
  font-size: 17px;
  border-radius: 5px;
}
.travel-button:hover {
  color: #000;
}
.main-content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 100%;
}
.main-content .background {
  background: url("../../images/road-back.jpg") no-repeat;
  background-size: 130% 100%;
  width: 100%;
  height: 105vh;
  position: relative;
}
.main-content .background .car-front {
  position: absolute;
  width: 31px;
  top: 64%;
  left: 45%;
}
.main-content .background .carback {
  position: absolute;
  top: 64%;
  left: 42.5%;
}
.main-content .fade-in {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  -webkit-opacity: 0;
  display: none;
}
#roadtrip .roadtrip-title {
  position: absolute;
  top: 30%;
  left: 35%;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}
#roadtrip .roadtrip-title .roadtrip-text {
  color: #fff;
  font-family: serif;
}
#roadtrip .roadtrip-title h1 {
  font-size: 60px;
}
#roadtrip .roadtrip-title p {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.parallax-home {
  top: 52%;
  left: 40%;
  position: absolute;
  display: block;
  text-align: center;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 28px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
}
.parallax-home:hover {
  color: #000;
}
#selector {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -101%;
  padding: 0;
}
#selector .album {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 999;
}
#selector .album .slide {
  width: 100%;
  height: 50px;
}
.shot {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 8px solid #000;
}
.remind-word {
  text-align: center;
  font-size: 36px;
  position: absolute;
  z-index: 1000;
  color: #000;
  font-family: monospace;
}
.word-1 {
  top: 2%;
  left: 34%;
}
.word-2 {
  top: 7%;
  left: 39%;
}
.trigger {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 30%;
  left: 16%;
  z-index: 10000;
}
.congratulations {
  font-size: 30px;
  position: absolute;
  left: 10%;
  color: #fff;
  top: 10%;
  font-family: monospace;
}
.surfing {
  font-family: 'Passion One', impact;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -102%;
  background: #02bdd3;
  display: none;
}
@import url("http://fonts.googleapis.com/css?family=PassionOne");
.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  background: url("../../images/silver-surfer.jpg");
  background-size: 2000px auto;
  animation: fade 6s steps(30) forwards;
}
#retrigger--1:checked ~ .bg {
  animation-name: fade--1;
}
#retrigger--1:checked ~ .pane .rotate {
  animation-name: rotate--1;
}
#retrigger--1:checked ~ .pane .logo {
  animation-name: hide--1;
}
#retrigger--1:checked ~ .pane .logo:nth-child(1) {
  animation-name: change--1;
}
#retrigger--1:checked ~ .buttons {
  animation-name: buttons--1;
}
#retrigger--1:checked ~ .buttons .button--2 {
  display: block;
}
#retrigger--2:checked ~ .bg {
  animation-name: fade--2;
}
#retrigger--2:checked ~ .pane .rotate {
  animation-name: rotate--2;
}
#retrigger--2:checked ~ .pane .logo {
  animation-name: hide--2;
}
#retrigger--2:checked ~ .pane .logo:nth-child(1) {
  animation-name: change--2;
}
#retrigger--2:checked ~ .buttons {
  animation-name: buttons--2;
}
#retrigger--2:checked ~ .buttons .button--1 {
  display: block;
}
@-webkit-keyframes fade--1 {
  0% {
    background-position: 0 0;
    -webkit-opacity: 1;
  }
  50% {
    background-position: 4000% 4000%;
    -webkit-opacity: 0.6;
  }
  100% {
    background-position: -4000% -4000%;
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes fade--2 {
  0% {
    background-position: 0 0;
    -webkit-opacity: 1;
  }
  50% {
    background-position: 4000% 4000%;
    -webkit-opacity: 0.6;
  }
  100% {
    background-position: -4000% -4000%;
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes rotate--1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
    transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
  }
  50% {
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1);
  }
}
@-webkit-keyframes rotate--2 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
    transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
  }
  50% {
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1);
  }
}
@-webkit-keyframes hide--1 {
  0% {
    visibility: visible;
    -webkit-opacity: 1;
  }
  100% {
    visibility: hidden;
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes hide--2 {
  0% {
    visibility: visible;
    -webkit-opacity: 1;
  }
  100% {
    visibility: hidden;
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes buttons--1 {
  0%, 99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes buttons--2 {
  0%, 99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1.3);
  perspective: 700px;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  font-size: 9em;
  letter-spacing: -0.04em;
  animation: hide 8s linear forwards;
  padding: 0 0.2em;
  line-height: 1;
  border: 0.02em solid #000;
}
.retrigger {
  position: absolute;
  left: -5em;
  -webkit-opacity: 0;
}
.buttons {
  position: absolute;
  z-index: 3;
  top: 1em;
  left: 50%;
  width: 10em;
  margin-left: -5em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  animation: button 8s linear;
}
.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
  transform-style: preserve-3d;
  animation: rotate 6s 2s forwards;
}
.logo:nth-child(1) {
  animation: change 10s steps(30) forwards;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28359/marvel.jpg");
  background-size: 2000px auto;
  color: transparent;
}
.logo:nth-child(2) {
  transform: translate3d(-50%, -50%, -2px);
}
.logo:nth-child(3) {
  transform: translate3d(-50%, -50%, -3px);
}
.logo:nth-child(4) {
  transform: translate3d(-50%, -50%, -4px);
}
.logo:nth-child(5) {
  transform: translate3d(-50%, -50%, -5px);
}
.logo:nth-child(6) {
  transform: translate3d(-50%, -50%, -6px);
}
.logo:nth-child(7) {
  transform: translate3d(-50%, -50%, -7px);
}
.logo:nth-child(8) {
  transform: translate3d(-50%, -50%, -8px);
}
.logo:nth-child(9) {
  transform: translate3d(-50%, -50%, -9px);
}
.logo:nth-child(10) {
  transform: translate3d(-50%, -50%, -10px);
}
.logo:nth-child(11) {
  transform: translate3d(-50%, -50%, -11px);
}
.logo:nth-child(12) {
  transform: translate3d(-50%, -50%, -12px);
}
.logo:nth-child(13) {
  transform: translate3d(-50%, -50%, -13px);
}
.logo:nth-child(14) {
  transform: translate3d(-50%, -50%, -14px);
}
.logo:nth-child(15) {
  transform: translate3d(-50%, -50%, -15px);
}
.logo:nth-child(16) {
  transform: translate3d(-50%, -50%, -16px);
}
.logo:nth-child(17) {
  transform: translate3d(-50%, -50%, -17px);
}
.logo:nth-child(18) {
  transform: translate3d(-50%, -50%, -18px);
}
.logo:nth-child(19) {
  transform: translate3d(-50%, -50%, -19px);
}
.logo:nth-child(20) {
  transform: translate3d(-50%, -50%, -20px);
}
.buttons .button {
  padding: 0.3em 1em;
  color: #000;
  font-size: 1.3em;
  display: none;
  cursor: pointer;
  border: 2px solid #000;
}
.buttons .button:hover {
  color: #fff;
  background: #000;
}
@-moz-keyframes mymove {
  60% {
    -webkit-opacity: 0.6;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@-webkit-keyframes mymove {
  60% {
    -webkit-opacity: 0.6;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@-o-keyframes mymove {
  60% {
    -webkit-opacity: 0.6;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@keyframes mymove {
  60% {
    -webkit-opacity: 0.6;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@-moz-keyframes leftFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(10deg);
    margin-top: 10%;
    margin-right: 1%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(28deg);
    margin-top: 110%;
    margin-right: 5%;
  }
}
@-webkit-keyframes leftFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(10deg);
    margin-top: 10%;
    margin-right: 1%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(28deg);
    margin-top: 110%;
    margin-right: 5%;
  }
}
@-o-keyframes leftFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(10deg);
    margin-top: 10%;
    margin-right: 1%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(28deg);
    margin-top: 110%;
    margin-right: 5%;
  }
}
@keyframes leftFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(10deg);
    margin-top: 10%;
    margin-right: 1%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(28deg);
    margin-top: 110%;
    margin-right: 5%;
  }
}
@-moz-keyframes rightFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(-10deg);
    margin-top: 10%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(-28deg);
    margin-top: 110%;
  }
}
@-webkit-keyframes rightFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(-10deg);
    margin-top: 10%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(-28deg);
    margin-top: 110%;
  }
}
@-o-keyframes rightFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(-10deg);
    margin-top: 10%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(-28deg);
    margin-top: 110%;
  }
}
@keyframes rightFall {
  10% {
    -webkit-opacity: 1;
    transform: rotate(-10deg);
    margin-top: 10%;
  }
  100% {
    -webkit-opacity: 0;
    transform: rotate(-28deg);
    margin-top: 110%;
  }
}
@-moz-keyframes change--1 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@-webkit-keyframes change--1 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@-o-keyframes change--1 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@keyframes change--1 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@-moz-keyframes change--2 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@-webkit-keyframes change--2 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@-o-keyframes change--2 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
@keyframes change--2 {
  0% {
    background-position: 0 0;
    color: rgba(150,150,0,0.4);
    border-color: #000;
  }
  50% {
    background-position: 200% 200%;
    color: rgba(150,150,0,0.4);
    border-color: #fff;
  }
  100% {
    background-position: -200% -200%;
    color: #fff;
    border-color: #fff;
    background: #02bdd3;
  }
}
